
:root {
    --green: rgb(36, 145, 36);
    
    --red: rgb(212, 24, 24);
    --grey: grey;
    --aqua: rgb(86, 128, 114);
}

body {
    background-color: darkgrey;
}

h1 {
    display: grid;
    justify-content: center;
    text-align: center;
    padding-top: 25px;
    font-size: 75px;
    color: rgb(220, 230, 245);
}
label, .title{
    color: white;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding-right: 40px;
    padding-left: 40px;
    display: block;
    
}

li {
    background-color: var(--grey);
    display: grid;
    border-radius: 5px;
    margin:0 0 10px 0;   
    align-items: baseline;
}

.completed {
    border-left: 20px solid var(--green);
}

.progress {
    border-left: 20px solid var(--red);
}

input {
    padding: 10px;
}

span {
    padding: 5px;
    width: 80%;
}

.dateToday {
    width: auto;
}

.add {
    padding: 10px;
}

button {
    margin-left: 5px;
    border-radius: 5px;
    font-weight: bold;
    padding-inline: 10px;
    cursor: pointer;
}

button:hover {
    color: white;
    background-color: var(--green);
}

.remove-task:hover {
    background-color: var(--red);
}

.checkbox-wrapper {
    padding: 5px;
    display: inline-flex;
    align-items: baseline;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.list [type="checkbox"]:checked ~ span {
    text-decoration: line-through;
    opacity: 0.5;
}

.percentage {
    font-size: 62px;
    text-align: center;
    font-weight: bold;
}

.good {
    color: var(--green);
}

.bad {
    color: var(--red);
}

.todo-stats {
    display: grid;
    justify-content: center;
    justify-items: center;
    
}
