

h1 {
    display: grid;
    justify-content: center;
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    padding-right: 40px;
    padding-left: 40px;
    display: block;
    
}

li {
    background-color: grey;
    display: grid;
    border-radius: 10px;
    border: 2px solid white;
    padding-left: 30px;
}

input {
    padding: 10px;
}

span {
    padding: 5px;
    width: 80%;
}

.add {
    padding: 10px;
}

button {
    border-radius: 5px;
    font-weight: bold;
    padding-inline: 10px;
    cursor: pointer;
}

button:hover {
    color: grey;
    
    background-color: aquamarine;
}

.checkbox-wrapper {
    padding: 5px;
    display: inline-flex;
    align-items: baseline;
}

.list [type="checkbox"]:checked ~ span {
    text-decoration: line-through;
    
    opacity: 0.5;
}

.percentage {
    font-size: 50px;
    font-weight: bold;
}

.good {
    color: green;
}

.bad {
    text-align: center;
    color: red;
}

.todo-stats {
    display: grid;
    justify-content: center;
    justify-items: center;
    
}
